/* ! Reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ! Style */

.slider {

    margin: 0 auto;
    height: 100vh;
}

.slides-container>img {

    aspect-ratio: 1;
    max-width: 200px;
}

.hidden{

    display: none;
}

.shown
 {

    display: block;
}

.fa-solid {

    cursor: pointer;
}